---
title: Strategia GEM
---

<h1>
  Strategia GEM
</h1>

<h2>Wyniki za ostatnie 12 miesięcy:</h2>
<div style="overflow-x:auto;">
  <table>
    <tr>
      <th>Data sygnału</th>
      <th>SPXS.UK</th>
      <th>VEU</th>
    </tr>
    <% data.results.each do |date| %>
    <tr>
      <td><%= date.first %></td>
      <td><%= date.second.spx %></td>
      <td><%= date.second.bug %></td>
    </tr>
    <% end %>
  </table>
</div>